
$mobile: 414px;
$largeMobile: 600px;
$tablet: 768px;
$smallDesktop: 1024px;
$desktop: 1280px;
$largeDesktop: 1440px;

//fonts

$lust: lust, serif;


//colors

$red: #8b1a26;
$redBright: #c22033;
$gold: #b7963c;
$goldText: #f5e2a9;

*,
*::before,
*::after {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('../images/paper-seamless.jpg');
    padding-bottom: 120px;
    position: relative;

    @media (min-width: $smallDesktop) {
        padding-bottom: 0;
    }
}

.header__container {

    @media (min-width: $tablet) {
        position: relative;
        margin: 0 auto;
    }

    @media (min-width: $smallDesktop) {
        width: 100%;
        max-width: 1300px;
    }

    &:before {
        content: '';
        background-image: url('../images/rose-left-mobile.png');
        background-size: 28%;
        background-repeat: no-repeat;
        background-position: top left;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 30px;
        left: 0;

        @media (min-width: $tablet) {
            background-image: url('../images/rose-top-left-desktop.png');
            background-size: 50%;
        }

        @media (min-width: $largeDesktop) {
            left: -70px;
        }
    }

    &:after {
        content: '';
        background-image: url('../images/rose-right-mobile.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: top right;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        @media (min-width: $tablet) {
            background-image: url('../images/rose-top-right-desktop.png');
        }

        @media (min-width: $largeDesktop) {
            background-size: 60%;
            right: -20px;
        }
    }
}

.header {
    border: 8px solid $redBright;
    border-radius: 100%;
    margin: -15px auto 40px;
    position: relative;
    z-index: 1;
    width: 95vw;
    height: 95vw;
    max-width: 380px;
    max-height: 380px;

    @media (min-width: $tablet) {
        width: 70vw;
        height: 70vw;
        max-width: 525px;
        max-height: 525px;
    }

    @media (min-width: $smallDesktop) {
        margin: -15px auto 80px;
        max-width: 600px;
        max-height: 600px;
    }
}

.header__inner {
    background-color: $redBright;
    color: white;
    text-align: center;
    border-radius: 100%;
    border: 3px solid white;
    width: 100%;
    height: 100%;
    position: relative;
}

.header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.header__icon {
    width: 25px;
    padding-top: 10px;

    @media (min-width: $tablet) {
        width: 50px;
        padding-top: 15px;
    }
}

.header__pre {
    font-size: 12px;
    text-transform: uppercase;
    max-width: 175px;
    margin: 0 auto;

    @media (min-width: $mobile) {
        font-size: 13px;
        max-width: 200px;
    }

    @media (min-width: $tablet) {
        font-size: 20px;
        max-width: 310px;
        margin-top: 30px;
    }

    @media (min-width: $smallDesktop) {
        font-size: 25px;
        max-width: 365px;
    }
}

.header__sup {
    vertical-align: top;
}

.header__title {
    font-family: $lust;
    font-style: italic;
    font-weight: normal;
    font-size: 82px;
    margin: 15px 0;
    line-height: .8;
    letter-spacing: -4px;

    @media (min-width: $mobile) {
        font-size: 98px;
    }

    @media (min-width: $tablet) {
        font-size: 140px;
        margin: 15px 0 35px;
    }

    @media (min-width: $smallDesktop) {
        font-size: 160px;
    }
}

.header__date {
    color: $goldText;
    font-family: $lust;
    font-size: 22px;
    padding-top: 20px;
    text-transform: uppercase;
    -webkit-font-smoothing: auto;
    letter-spacing: 1px;

    @media (min-width: $mobile) {
        font-size: 26px;
    }

    @media (min-width: $tablet) {
        font-size: 35px;
    }

    @media (min-width: $smallDesktop) {
        font-size: 40px;
    }
}

.subheader {
    color: $redBright;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .5px;
    margin: 0 auto 35px;
    max-width: 340px;

    @media (min-width: $tablet) {
        max-width: none;
    }
}

.subheader__time {
    font-size: 20px;
    line-height: 1.7;

    @media (min-width: $smallDesktop) {
        font-size: 25px;
    }
}

.subheader__location {
    font-size: 30px;

    @media (min-width: $smallDesktop) {
        font-size: 40px;
    }
}

.text__container {
    
    @media (min-width: $smallDesktop) {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    @media (min-width: $largeDesktop) {
        width: 100%;
        max-width: 1550px;
    }

    &:after {
        content: '';
        background-image: url('../images/rose-bottom-mobile.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom left;
        width: 100%;
        height: 100%;
        max-width: 400px;
        position: absolute;
        bottom: 0;
        right: 0;

        @media (min-width: $smallDesktop) {
            background-image: url('../images/rose-bottom-desktop.png');
            background-size: 50%;
            background-position: top right;
            top: 55%;
            max-width: 475px;
        }

        @media (min-width: $desktop) {
            top: 41%;
            max-width: 700px;
        }

        @media (min-width: $largeDesktop) {
            top: 15%;
            max-width: 800px;
        }

        @media (min-width: 1600px) {
            top: 5%;
            max-width: 900px;
        }
    }
}


.text {
    font-size: 16px;
    margin: 0 50px;
    max-width: 600px;
    letter-spacing: .5px;
    line-height: 1.5;
    z-index: 2;
    position: relative;

    @media (min-width: $largeMobile) {
        max-width: 500px;
        margin: 0 auto;
    }

    @media (min-width: $tablet) {
        max-width: 650px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}

.text--bold {
    font-weight: bold;
}

.charity {
    padding: 40px 0;
    background-color: $red;
    color: white;
    position: relative;
    text-align: center;    
}

.charity__text {
    font-size: 16px;
    margin: 35px 50px;
    max-width: 650px;
   
    letter-spacing: .5px;
    line-height: 1.5;

    @media (min-width: $tablet) {
        margin: 30px auto 0;
    }
}

.charity__text--sm {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.7;
    margin: 0 auto;
    max-width: 300px;

    @media (min-width: $smallDesktop) {
        font-size: 25px;
        max-width: none;
    }
}

.charity__text--lg {
    margin: 0 auto 20px;
    max-width: 310px;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;

    @media (min-width: 425px) {
        max-width: none;
    }

    @media (min-width: $smallDesktop) {
        margin-bottom: 20px;
        font-size: 40px;
    }
}